.sidenav {
  margin: 1rem;
}

.nav-element {
  width: 100%;
  justify-content: flex-start;
}

.container {
  height: 100%;
}

.space-small {
  margin-bottom: 1rem;
}

.active-link {
  background: var(--mat-sys-primary-container);
}
